<div class="container">

  <p>Coût total : <span>{{ total() }}</span> pièces d'or.</p>

  <h2>Équipements</h2>

  <table class="ose-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Coût</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      @for (gear of adventuringGears(); track $index) {
        <tr>
          <td>{{ gear.label }}</td>
          <td class="center">{{ gear.cost }}</td>
          <td>
            <div class="flex">
              <button class="grow btn" (click)="updateAmount(adventuringGears, $index, -1)" [disabled]="gear.amount === 0">
                <i class="fa-solid fa-square-minus"></i>
              </button>
              <div class="grow text--center">{{ gear.amount }}</div>
              <button class="grow btn" (click)="updateAmount(adventuringGears, $index, 1)">
                <i class="fa-solid fa-square-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <h2>Armes</h2>

  <table class="ose-table">
    <thead>
      <tr>
        <th>Arme</th>
        <th>Coût</th>
        <th>#</th>
        <th>Damage</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      @for (gear of weapons(); track $index) {
        <tr>
          <td>{{ gear.label }}</td>
          <td class="center">{{ gear.cost }}</td>
          <td>
            <div class="flex">
              <button class="grow btn" (click)="updateAmount(weapons, $index, -1)" [disabled]="gear.amount === 0">
                <i class="fa-solid fa-square-minus"></i>
              </button>
              <div class="grow text--center">{{ gear.amount }}</div>
              <button class="grow btn" (click)="updateAmount(weapons, $index, 1)">
                <i class="fa-solid fa-square-plus"></i>
              </button>
            </div>
          </td>
          <td class="center">{{ gear.damage }}</td>
          <td>{{ gear.qualities }}</td>
        </tr>
      }
    </tbody>
  </table>

  <h2>Projectiles</h2>

  <table class="ose-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Coût</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      @for (gear of ammunitions(); track $index) {
        <tr>
          <td>{{ gear.label }}</td>
          <td class="center">{{ gear.cost }}</td>
          <td>
            <div class="flex">
              <button class="grow btn" (click)="updateAmount(adventuringGears, $index, -1)" [disabled]="gear.amount === 0">
                <i class="fa-solid fa-square-minus"></i>
              </button>
              <div class="grow text--center">{{ gear.amount }}</div>
              <button class="grow btn" (click)="updateAmount(adventuringGears, $index, 1)">
                <i class="fa-solid fa-square-plus"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <h2>Armures</h2>

  <table class="ose-table">
    <thead>
      <tr>
        <th>Arme</th>
        <th>Coût</th>
        <th>#</th>
        <th>CA</th>
        <th>Poids</th>
      </tr>
    </thead>
    <tbody>
      @for (gear of armors(); track $index) {
        <tr>
          <td>{{ gear.label }}</td>
          <td class="center">{{ gear.cost }}</td>
          <td>
            <div class="flex">
              <button class="grow btn" (click)="updateAmount(weapons, $index, -1)" [disabled]="gear.amount === 0">
                <i class="fa-solid fa-square-minus"></i>
              </button>
              <div class="grow text--center">{{ gear.amount }}</div>
              <button class="grow btn" (click)="updateAmount(weapons, $index, 1)">
                <i class="fa-solid fa-square-plus"></i>
              </button>
            </div>
          </td>
          <td class="center">{{ gear.ac }}</td>
          <td class="center">{{ gear.weight }}</td>
        </tr>
      }
    </tbody>
  </table>

</div>
