.total-cost {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: var(--mat-sys-surface-container-low);
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}

.amount {
  color: var(--teal-6);
  font-weight: bold;
  text-align: center;

  &.zero {
    color: transparent;
  }
}

.action {

  .action__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-2);
  }

  .action__button {
    background-color: var(--btn-bg, var(--teal-6));
    color: var(--btn-fg, var(--gray-12));
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 300ms;

    &:hover {
      --btn-bg: var(--teal-3);
    }
    &:active {
      --btn-bg: var(--teal-9);
    }
    &[disabled] {
      --btn-bg: var(--gray-9);
    }
  }

}
