<div class="container">

  <div class="main">
    <div class="button-bar">
      <button
        matButton
        type="button"
        [disabled]="sending() || !room()"
        [routerLink]="`/initiative/room/${roomNumber()}/group/new`"
        >
        <mat-icon>add</mat-icon>
        <span>Ajouter</span>
      </button>
      <button
        matButton
        type="button"
        [disabled]="sending() || !room()"
        (click)="onEmpty()"
        >
        <mat-icon>delete</mat-icon>
        <span>Vider</span>
      </button>
    </div>

    <mat-action-list>
      @for (group of sortedGroups(); track $index) {
        <a mat-list-item [routerLink]="`/initiative/room/${roomNumber()}/group/${group.id}`">
          <div class="group" [class.selected]="group.id === room()?.currentGroupId">
            <div class="label">{{ group.label }}</div>
            <div class="initiative">{{ group.initiative }}</div>
          </div>
        </a>
      }
    </mat-action-list>
  </div>

  <div class="footer pb--2 flex-center">
    <mat-button-toggle-group name="sortBy" [(ngModel)]="sortBy">
      <mat-button-toggle value="label">
        <mat-icon>format_line_spacing</mat-icon>
        A-Z
      </mat-button-toggle>
      <mat-button-toggle value="initiative">
        <mat-icon>format_line_spacing</mat-icon>
        #
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>
