<div class="container">

  <ul>
    <li>
      <a href="#training">Entraînement de montée de niveau</a>
      <ul>
        <li><a href="#learing-spells">Apprentissage de sorts</a></li>
      </ul>
    </li>
    <li>
      <a href="#getting-xp">Acquérir de l'expérience</a>
      <ul>
        <li><a href="#charity">Charité</a></li>
      </ul>
    </li>
  </ul>


  <h2 id="training">Entraînement de montée de niveau</h2>

  <p class="justify">
    La montée de niveau nécessite un temps d'entraînement et un coût en pièce d'or.
    Cela représente le temps passé à s'entraîner, étudier, faire des recherches, méditer, ...
    Il y a le coût de la vie, des professeurs, de l'accès aux matériaux, des donations, ...
  </p>

  <p class="justify">
    Le coût d'une semaine d'entraînement est de 100 pièce d'or multiplié par le niveau à atteindre.
    Chaque semaine le joueur lance 1d6 et additionne les valeurs.
    Si le personnage a un malus d'expérience de 20% il retire 2 à cette valeur la première semaine.
    Si le personnage a un malus d'expérience de 10% il retire 1 à cette valeur la première semaine.
    Si le personnage a un bonus d'expérience de 5% il ajoute 1 à cette valeur chaque semaine.
    Si le personnage a un bonus d'expérience de 10% il ajoute 2 à cette valeur chaque semaine.
    Une fois que le total a dépassé une valeur déterminé par le nouveau niveau alors l'entraînement est terminé.
    L'entraînement ne peut pas durer moins d'une semaine.
  </p>

  <table id="table-training" class="ose-table">
    <thead>
      <tr>
        <th>Nouveau niveau</th>
        <th>Coût par semaine</th>
        <th>Valeur à atteindre</th>
      </tr>
    </thead>
    <tbody>
      <tr><th> 1</th><td>  100</td><td> 3</td></tr>
      <tr><th> 2</th><td>  200</td><td> 6</td></tr>
      <tr><th> 3</th><td>  300</td><td> 9</td></tr>
      <tr><th> 4</th><td>  400</td><td>12</td></tr>
      <tr><th> 5</th><td>  500</td><td>15</td></tr>
      <tr><th> 6</th><td>  600</td><td>18</td></tr>
      <tr><th> 7</th><td>  700</td><td>21</td></tr>
      <tr><th> 8</th><td>  800</td><td>24</td></tr>
      <tr><th> 9</th><td>  900</td><td>27</td></tr>
      <tr><th>10</th><td>1 000</td><td>30</td></tr>
      <tr><th>11</th><td>1 100</td><td>33</td></tr>
      <tr><th>12</th><td>1 200</td><td>36</td></tr>
      <tr><th>13</th><td>1 300</td><td>39</td></tr>
      <tr><th>14</th><td>1 400</td><td>42</td></tr>
    </tbody>
  </table>

  <h3 id="learning-spells">Apprentissage de sort</h3>

  <h2 id="getting-xp">Acquérir de l'expérience</h2>

  <p class="justify">
    Il existe plusieurs occupations qui permettent d'obtenir de l'expérience avec un coût.
    Le coût monétaire est de 1d8 &times; 100 pièces d'or dépensées en une semaine.
    Le personnage gagne autant d'expérience que d'or dépensé.
    &Agrave; la fin de la semaine le personnage doit faire un jet de caractéristique dépendant de l'activité choisie.
    Si le jet est échoué quelque chose d'intéressant s'est produit, consulter la table correspondante à l'activité.
  </p>

  <h3 id="charity">Charité</h3>

  <p>Jet de la caractéristique Sagesse.</p>

  <ol>
    <li>
      Le personnage se retrouve avec un bras cassé (inutilisable pour 4-6 semaines) ou une jambe cassée (-1m de mouvement pout 4-6 semaines).
    </li>
    <li>
      Le personnage perd 1d10 &times; 100 pièces d'or (ne rapporte pas d'expérience).
    </li>
    <li>
      Un personnage non joueur qui vole un objet magique au personnage.
    </li>
    <li>
      Un personnage non joueur qui poursuit le personnage.
    </li>
    <li>
      La prochaine tentative du personnage coutera le double.
    </li>
    <li>
      -1 à tous les jets lors de la prochaine session.
    </li>
    <li>
      Le personnage oublie de prendre une pièce d'équipement lors de la prochaine session.
    </li>
  </ol>

  <h3 id="studies">Études</h3>

  <p>Jet de la caractéristique Intelligence.</p>

  <h3 id="carousing">Festoyer</h3>

  <p>Jet de la caractéristique Charisme.</p>

  <h3 id="gourmandising">Luxure</h3>

  <p>Jet de la caractéristique Constitution.</p>

  <h2 id="information-gathering">Récolte d'information</h2>
  <h3 id="research">Recherches</h3>
  <h3 id="network">Renseignements</h3>

  <h2 id="crafting">Fabrication</h2>
  <h3 id="crafting-magic-item">Création d'objet magique</h3>
  <h3 id="writing-scrolls">Écriture de parchemins</h3>
  <h3 id="brewing-potions">Préparation de potions</h3>
  <h3 id="spell-research">Recherches de sorts</h3>

</div>
