<table mat-table [dataSource]="items()">

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let item">
      <img
        class="avatar"
        referrerpolicy="no-referrer"
        [src]="item.picture"
        alt="Avatar"
        />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let item"> {{ item.email }} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Rôle </th>
    <td mat-cell *matCellDef="let item"> {{ item.role }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--
<div class="datatable-container">
  <table class="datatable">
    <thead>
      <tr>
        <th>Image</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Rôle</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items(); track $index) {
        <tr>
          <td>
            <img
              referrerpolicy="no-referrer"
              [src]="$safeNavigationMigration(item.picture)"
              alt="Avatar Google"
            />
          </td>
          <td>
            {{ item.email }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.role }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
-->
