<div class="container stack">
  <h2 class="title--2">{{ isEditMode() ? 'Modifier le personnage' : 'Nouveau personnage' }}</h2>

  @if (loading()) {
    <div class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom du personnage</mat-label>
      <input matInput [formControl]="nameControl" />
      @if (nameControl.hasError('required')) {
        <mat-error>Le nom est obligatoire.</mat-error>
      }
    </mat-form-field>
  }

  <div class="actions">
    @if (!loading()) {
      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="nameControl.invalid || saving()"
        (click)="onSubmit()"
        >
        {{ isEditMode() ? 'Enregister le personnage' : 'Créer le personnage' }}
      </button>
    }
  </div>

</div>