<div class="container">
  <mat-card class="character-card">
    <mat-card-header>
      <mat-card-title>
        {{ isEditMode() ? 'Modifier le personnage' : 'Nouveau personnage' }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
      @if (loading()) {
        <div class="spinner-container">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      } @else {
        <div class="section">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nom du personnage</mat-label>
            <input matInput [formControl]="nameControl" />
            @if (nameControl.hasError('required')) {
              <mat-error>Le nom est obligatoire.</mat-error>
            }
          </mat-form-field>
        </div>
      }
    </mat-card-content>

    <mat-card-actions>
      @if (!loading()) {
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="nameControl.invalid || saving()"
          (click)="onSubmit()"
        >
          {{ isEditMode() ? 'Enregister le personnage' : 'Créer le personnage' }}
        </button>
      }
    </mat-card-actions>
  </mat-card>
</div>