.container {
  display: flex;
  justify-content: center;

  .character-card {
    max-width: 650px;
    width: 100%;
  }

  .content {
    margin-top: 1rem;
  }
}

.section {
  margin-bottom: 1.5rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
