:host {
  display: block;
  height: var(--main-content-height);
}

.container {
  --footer-height: var(--header-height);
  --main-height: calc(var(--main-content-height) - var(--footer-height));

  display: flex;
  flex-direction: column;
  height: 100%;

  .main {
    flex-grow: 1;
    height: var(--main-height);
  }

  .footer {
    height: var(--footer-height);
  }
}

.group {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;

  background-color: var(--mat-sys-surface-container);
  border: var(--mat-sys-primary-container) solid var(--border-size-1);
  border-radius: var(--radius-2);
  overflow: hidden;

  width: 100%;

  .label {
    flex-grow: 1;
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
  }

  .initiative {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--font-size-7);
  }

  &.selected {
    background-color: var(--mat-sys-primary-container);
    border-color: var(--mat-sys-primary);
  }
}

.button-bar {
  display: flex;
  align-items: stretch;

  & > * {
    flex-grow: 1;
  }
}
