<div class="auth-container">
  @if (authStore.isAuthenticated()) {
    <div class="user-card">
      <img
        referrerpolicy="no-referrer"
        [src]="$safeNavigationMigration(authStore.userPicture())"
        alt="Avatar Google"
      />
      <h3>Bienvenue, {{ authStore.userName() }}</h3>
      <p>email : {{ authStore.userEmail() }}</p>
      <p>role: {{ authStore.userRole() }}</p>

      <button (click)="authService.logout()">Déconnexion</button>
    </div>
  } @else {
    <h2>Connexion</h2>

    <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>

    @if (errorMessage()) {
      <p class="error-msg">{{ errorMessage() }}</p>
    }
  }
</div>
