<mat-toolbar color="primary" class="app-toolbar">
  @if (screen.isMobile()) {
    <button matIconButton (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <div class="brand">
    <a class="title" routerLink="/">
      @if (screen.isDesktop()) {
        <mat-icon>home</mat-icon>
      }
      <span>Kingmaker</span>
    </a>
  </div>

  <div class="spacer"></div>

  <div class="user-section">
    @if (authStore.isAuthenticated()) {
      <app-user-menu></app-user-menu>
    }
    @else {
      <asl-google-signin-button type="standard" size="medium" theme="filled_black"></asl-google-signin-button>
    }
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="screen.isMobile() ? 'over' : 'side'"
    [opened]="!screen.isMobile()"
  >
    <app-navigation (linkClicked)="closeOnMobile(sidenav)"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-content stack">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
