:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  min-height: 100dvh;

  .main-content {
    box-sizing: border-box;
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
  }
}

.app-toolbar {
  background: var(--mat-sys-primary-container);
  display: flex;
  align-items: center;
  gap: var(--size-3);

  .brand .title {
    display: flex;
    gap: .5em;
    place-items: center;
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
  }

  .spacer {
    flex-grow: 1;
  }
}

.sidenav-container {
  flex-grow: 1;

  .sidenav {
    width: 250px;
  }
}
