.flex {
  display: flex;

  &.gap--3 {
    gap: var(--size-3);
  }

  &.cross--center {
    align-items: center;
  }

  &.main--space-between {
    justify-content: space-between;
  }
}

.grow {
  flex-grow: 1;
}
