.ose-table {
  --bg-even: var(--mat-sys-surface-container);
  --bg-odd: var(--mat-sys-surface-container-high);
  background-color: var(--bg-even);
  border-collapse: separate;
  border-spacing: 0;
  margin-inline: auto;
  min-width: 50%;

  thead {
    background-color: var(--bg-even);

    th, td {
      border-bottom: var(--border-size-1) solid var(--mat-sys-on-background);
    }
  }

  tbody > :nth-child(odd) {
    background-color: var(--bg-odd);
  }

  th, td {
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
  }

  th.center, td.center {
    text-align: center;
  }

  .sticky--top {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .sticky--bottom {
    position: sticky;
    bottom: 0;
    z-index: 2;
  }

}
