@use '@angular/material' as mat;

/*
html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
      error: mat.$red-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}
*/

// 1. OBLIGATOIRE : Charge les styles de base d'Angular Material
@include mat.core();

// 2. Définition du thème M3
$my-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    theme-type: dark,
  ),
  typography: (
    plain-family: 'Roboto, sans-serif',
    brand-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: 0
  ),
));

// 3. OBLIGATOIRE : Applique le thème à tous les composants Material de l'application
html {
  color-scheme: dark;
  @include mat.all-component-themes($my-theme);
}
