<form class="container" [formGroup]="form">

  <div class="header bold uppercase">
    {{ isEditMode() ? 'Modifier' : 'Ajouter' }}
  </div>

  <div class="main">
    <div class="stack">
      <mat-form-field>
        <mat-label>Libellé</mat-label>
        <input matInput type="text" formControlName="label" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Initiative</mat-label>
        <input matInput type="number" formControlName="initiative" min="-5" max="40" />
      </mat-form-field>
    </div>
  </div>

  <div class="footer">
    <button
      matIconButton
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      <mat-icon>check</mat-icon>
    </button>

    @if (isEditMode()) {
      <button matIconButton (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    }

    <a matIconButton [routerLink]="`/initiative/room/${roomNumber()}`">
      <mat-icon>close</mat-icon>
    </a>
  </div>

</form>
