<mat-accordion>

  @if (authStore.isAuthenticated()) {
    <details class="expandable" name="nav-expandable">
      <summary class="expandable__toggle nav-title">
        Zélénie
      </summary>

      <mat-action-list>
        <a mat-list-item (click)="onLinkClick()">Royaume</a>
        <a mat-list-item (click)="onLinkClick()">Dirigeants</a>
        <a mat-list-item (click)="onLinkClick()">Cités</a>
      </mat-action-list>
    </details>
  }

  @if (authStore.isAdmin()) {
    <details class="expandable" name="nav-expandable">
      <summary class="expandable__toggle nav-title">
        Old School Essentials
      </summary>

      <mat-action-list>
        <a mat-list-item (click)="onLinkClick()" routerLink="/ose/character" routerLinkActive="active">Personnages</a>
        <a mat-list-item (click)="onLinkClick()" routerLink="/ose/downtime" routerLinkActive="active">Temps morts</a>
      </mat-action-list>
    </details>
  }

</mat-accordion>
